<div id="footer" class="relative w-[100vw] h-[7vh] bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-700 shadow-2xl flex flex-col justify-center items-center text-lg text-white font-MuseoModerno">
    <p>&copy; 22127270</p>
</div>
