<div id="header" class="relative w-[100vw] h-[7vh] bg-gradient-to-r from-blue-500 via-indigo-600 to-purple-700 flex justify-between items-center px-8 font-MuseoModerno text-white italic text-2xl shadow-xl">
    <div class="flex-1 text-center">
        <a href="/articles">        <%= title %></a>

    </div>
    <div class="flex space-x-8 absolute right-0 w-1/4 justify-center pr-8">
        <a href="/articles/create" class="text-sm border-2 p-2 w-full text-center font-mono hover:bg-yellow-300 hover:text-gray-900 transition-all duration-300">Article Create</a>
        <!-- <a href="/space" class="text-sm border-2 p-2 w-full text-center font-mono hover:bg-yellow-300 hover:text-gray-900 transition-all duration-300">Space Page</a> -->
    </div>
</div>
 